@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/Highcharts/highcharts.js"></script>
<script src="~/Scripts/Highcharts/highcharts-3d.js"></script>
<script src="~/Scripts/Highcharts/highcharts-more.js"></script>
<script src="~/Scripts/Highcharts/solid-gauge.js"></script>
<script src="~/Scripts/Highcharts/data.js"></script>
<script src="~/Scripts/Highcharts/drilldown.js"></script>
<script src="~/Scripts/Highcharts/annotations.js"></script>
<script src="~/Scripts/Highcharts/exporting.js"></script>
<script src="~/Scripts/Highcharts/export-data.js"></script>
<script src="~/Scripts/Highcharts/accessibility.js"></script>



<link href="~/Content/smartdefault.css" rel="stylesheet" />
<script src="~/Scripts/smarttank.js"></script>
<link href="~/Content/progressBarr.css" rel="stylesheet" />
<link href="~/Content/GrafPesaje.css" rel="stylesheet" />
<link href="~/Content/GrafPie.css" rel="stylesheet" />



<div class="row" style="width:auto;">
    <div class="col-lg-4" style="word-wrap: break-word; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; ">
        <div class="row" style="text-align-last:center">
            <div class="col-lg-5"><label style="font-size: 15px;">Pesaje Diario</label></div>
            <div class="col-lg-5"><h4 id="UltimoP"></h4></div>
        </div>
        <figure class="highcharts-figure">
            <div id="pesa" style="height:220px; width:auto;"></div>
        </figure>
    </div>


    <div class="col-lg-4 " style="word-wrap: break-word; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; ">

        <figure class="highcharts-figure">
            <div id="GrafTG" style="height:261px; width:auto;"></div>
        </figure>
    </div>
    <div></div>
    <div class="col-lg-4 " style="word-wrap: break-word; box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; ">

        <figure class="highcharts-figure">
            <div id="contentTempuratura" class="chart-container" style="height:261px; width:auto"></div>
        </figure>
    </div>
</div>


<div class="row" style="padding-top:4px"></div>

<div class="row" style="width:auto">

    <div class="col-lg-4 responsive" style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;">
        <div class="row" style="text-align-last:center">
            <div class="col-lg-5"><label style="font-size: 15px;">Tiempo Triturado</label></div>
            <div class="col-lg-5"><h4 id="UltimoT"></h4></div>
        </div>

        <div id="GrafTriturado" style="height:271px; width:auto"> </div>
    </div>

    <div class="col-lg-4 responsive" style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;">
        <h2 id="lblTamaño" style="color:black; text-align-last:center; "></h2>

        <figure class="highcharts-figure">
            <div id="Grafpie" style="height:230px; width:auto;"></div>

        </figure>
    </div>

    <div id="materialTankContainer" class="col-lg-4 responsive" style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; text-align: -webkit-center;">
        <h4 style="color:black; text-align-last:center" id="totalT"></h4>
        <smart-tank value="" id="tank" style="height:271px; width:200px;"></smart-tank>
    </div>

</div>

<script>
    window.onload = chart;
    setInterval("chart()", 1000000);
    let grafPie = null;

    function chart() {

            var rd = {};
            rd.Fecha =0;

            $.ajax({
                type:"POST",
                url: '@Url.Action("Index")',
                data: '{rd: ' + JSON.stringify(rd) + '}',
                dataType: "json",
                contentType:"application/json; chartset=uft-8",
                success: function (Response) {

                    if (Response != null) {
                        $("#lblTamaño").html("Total Almacenamiento: " + Response.VarIndexAlmacenamiento + " KG");
                        $("#tank").val(Response.Nivel);
                        $("#UltimoP").html("ULTIMO: " + Response.VarUltimoP + " KG");
                        $("#UltimoT").html("ULTIMO: " + Response.VarUltimoT + " Hrs");
                        $("#totalT").html("Tanque De Almacenamiento: " + Response.Nivel + " %");

                        var texto = Response.Indexpallet;
                        var numeros = Response.IndexAlmacenamientoF;
                        var result = [];

                        for (var i = 0; i < texto.length; i++) {
                            result.push([texto[i], numeros[i]]);
                        }


                        /*Grafica pesaje*/
                        Highcharts.chart('pesa', {

                            title: {
                                text: ''
                            },
                            xAxis: {
                                categories: Response.indexFechaPesaje,
                                labels: {
                                    rotation: 45,
                                    style: { color: 'Black' }
                                }
                            },
                            chart: {
                                backgroundColor: 'transparent',
                                events: {
                                    click: function () {
                                        var url = '@Url.Action("pesaje","Home")';
                                        window.location.href = url;
                                    }
                                }
                            },

                            yAxis: {
                                title: {
                                    text: 'Kilogramos',
                                    style: {
                                        color:'black'
                                    }
                                },
                                labels: {
                                    style: {
                                        color: 'black'
                                    }
                                },
                                type: 'logarithmic',
                                minorTickInterval: 0.1,
                                accessibility: {
                                    rangeDescription: 'Range: 0.1 to 1000'
                                }
                            },

                            credits: {
                                enabled:false
                            },

                            series: [{
                                data: Response.indexPesaje,
                                pointStart: 1,
                                name: 'peso',
                                tooltip: { valueSuffix: 'KG' },
                                color: '#63DFC1'
                            }]
                        });
                        /*Grafica Tamaño de grano*/
                        Highcharts.chart('GrafTG', {
                            chart: {
                                type: 'column',
                                events: {
                                    click: function () {
                                        var url = '@Url.Action("InspeccionTamañoGrano","Home")';
                                        window.location.href = url;
                                    }
                                }
                            },
                            title: {
                                text: 'Inspección Tamaño Del Grano'
                            },
                            accessibility: {
                                announceNewData: {
                                    enabled: true
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            xAxis: {
                                categories: Response.indexFechaInspeccion,
                                labels: {
                                    rotation: 45,
                                    style: { color: 'Black' }
                                }
                            },
                            yAxis: {
                                title: {
                                    text: 'Tamaño Del Grano'
                                }

                            },
                            legend: {
                                enabled: false
                            },
                            plotOptions: {
                                series: {
                                    borderWidth: 0,
                                    dataLabels: {
                                        enabled: true,
                                        format: '{point.y:.1f} AFS'
                                    }
                                }
                            },

                            series: [
                                {
                                    name: ' AFS',
                                    colorByPoint: true,
                                    data: Response.indexInspeccion
                                }
                            ]
                        });
                        /*Grafica tiempo ciclo*/
                        Highcharts.chart('GrafTriturado', {

                            chart: {
                                type: 'area',
                                zoomType: 'x',
                                panning: true,
                                panKey: 'shift',
                                scrollablePlotArea: {
                                    minWidth: 600
                                },
                                events: {
                                    click: function () {
                                        var url = '@Url.Action("triturado", "Home")';
                                        window.location.href = url;
                                    }
                                }
                            },
                            title: {
                                text: ''
                            },
                            credits: {
                                enabled: false
                            },

                            xAxis: {
                                categories: Response.indexTiempo,
                                labels: {
                                    rotation: 45,
                                    style: { color: 'Black' },
                                    format: '{value} Hrs'
                                },

                                title: {
                                    text: 'Tiempo'
                                }
                            },

                            yAxis: {
                                startOnTick: true,
                                endOnTick: false,
                                maxPadding: 0.35,
                                title: {
                                    text: null
                                },
                                labels: {
                                    format: '{value} m'
                                }
                            },

                            tooltip: {
                                headerFormat: 'ID: {point.x}<br>',
                                pointFormat: 'Tiempo Ciclo: {point.y} Hrs',
                                shared: true
                            },
                            legend: {
                                enabled: false
                            },
                            series: [{
                                data: Response.indexTiempo,
                                lineColor: Highcharts.getOptions().colors[1],
                                color: Highcharts.getOptions().colors[2],
                                fillOpacity: 0.5,
                                name: 'Elevation',
                                marker: {
                                    enabled: false
                                },
                                threshold: null
                            }]

                        });
                        /*Grafica pastel*/
                        Highcharts.chart('Grafpie', {
                            chart: {
                                type: 'pie',
                                options3d: {
                                    enabled: true,
                                    alpha: 45
                                },
                                events: {
                                    click: function () {
                                        var url = '@Url.Action("AlmacenamientoFinal", "Home")';
                                        window.location.href = url;
                                    }
                                }

                            },
                            title: {
                                text: ''
                            },
                            credits: {
                                enabled: false
                            },
                            plotOptions: {
                                pie: {
                                    innerSize: 100,
                                    depth: 45
                                }
                            },
                            series: [{
                                name: 'KG',
                                data: result
                            }]
                        });
                        /*Grafica Temperatura*/
                        var gaugeOptions = {
                            chart: {
                                type: 'solidgauge',
                                events: {
                                    click: function () {
                                        var url = '@Url.Action("almacenamiento", "Home")';
                                        window.location.href = url;
                                    }
                                }
                            },

                            title: null,

                            pane: {
                                center: ['50%', '85%'],
                                size: '140%',
                                startAngle: -90,
                                endAngle: 90,
                                background: {
                                    backgroundColor:
                                        Highcharts.defaultOptions.legend.backgroundColor || '#EEE',
                                    innerRadius: '60%',
                                    outerRadius: '100%',
                                    shape: 'arc'
                                }
                            },

                            exporting: {
                                enabled: false
                            },

                            tooltip: {
                                enabled: false
                            },

                            // the value axis
                            yAxis: {
                                stops: [
                                    [0.1, '#55BF3B'], // green
                                    [0.5, '#DDDF0D'], // yellow
                                    [0.9, '#DF5353'] // red
                                ],
                                lineWidth: 0,
                                tickWidth: 0,
                                minorTickInterval: null,
                                tickAmount: 2,
                                title: {
                                    y: -70
                                },
                                labels: {
                                    y: 16
                                }
                            },

                            plotOptions: {
                                solidgauge: {
                                    dataLabels: {
                                        y: 5,
                                        borderWidth: 0,
                                        useHTML: true
                                    }
                                }
                            }
                        };
                        var chartSpeed = Highcharts.chart('contentTempuratura', Highcharts.merge(gaugeOptions, {
                            title: {
                                text: 'Temperatura'
                            },
                            yAxis: {
                                min: 0.0,
                                max: 100.0

                            },

                            credits: {
                                enabled: false
                            },

                            series: [{
                                name: 'Temperatura',
                                data: [Response.temAlmacenamiento],
                                dataLabels: {
                                    format:
                                        '<div style="text-align:center">' +
                                        '<span style="font-size:25px">{y}</span><br/>' +
                                        '<span style="font-size:12px;opacity:0.4">°C</span>' +
                                        '</div>'
                                },
                                tooltip: {
                                    valueSuffix: '°C'
                                }
                            }]

                        }));
                        /*tanque de almacenamiento*/
                        (function ($) {

                            $.fn.circlechart = function () {
                                this.each(function () {

                                    var percentage = $(this).data("percentage");
                                    var inner_text = $(this).text();
                                    $(this).html(makesvg(percentage, inner_text));
                                });
                                return this;
                            };

                        }(jQuery));
                        $(function () {
                            $('.circlechart').circlechart();
                        });


                    } else {
                        alert('NULO');
                    }
                },
            });
    }


</script>






